/* roboto-latin-400-normal */
@font-face {
  font-family: 'Roboto', "Open Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/roboto@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* open-sans-latin-400-normal */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
--palette-primary-main: #0F52BA; /*primary blue*/
--palette-secondary-main: #FFA600;
--typography-button-font-weight: 700;
--typography-button-text-transformation: none;
}

/* Correct way to style a <hr> tag color */
.horizontal-line {
  border: 1px solid #FFA600;
}

.side-menu-link {
  all: unset;
}

.side-menu-link:hover {
  cursor: pointer;
}

.nav-links {
  all: unset;
}

.nav-links:hover {
  cursor: pointer;
}

.nav-links-text:hover {
  text-decoration: underline #FFA600;
}

.hamburger-menu:hover {
  cursor: pointer;
}